.container {
  max-width: 640px;
  margin: 0 auto;
  width: 100%;
  position: relative;
}
.show_pc {
  display: none;
}
img {
  width: 100%;
}
a {
    color: #0B3863;
    text-decoration: none;
}
.header {
  background: #c1b083;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 5;
  padding: 15px 13px 10px;
  .logo {
    width: 125px;
    text-align: center;
    margin: 0 auto;
  }

  .menuIcon {
    position: absolute;
    z-index: 5;
    right: 15px;
    top: 26px;
    .menu_trigger {
      display: inline-block;
      transition: all 0.4s;
      position: relative;
      width: 30px;
      height: 22px;
      &.active {
        span {
          &:nth-of-type(1) {
            transform: translateY(10px) rotate(-315deg);
          }
          &:nth-of-type(2) {
            opacity: 0;
          }
          &:nth-of-type(3) {
            transform: translateY(-10px) rotate(315deg);
          }
        }
      }
      span {
        display: inline-block;
        transition: all 0.4s;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #0B3863;
        border-radius: 4px;
        height: 2px;
        &:nth-of-type(1) {
          top: 0
        }
        &:nth-of-type(2) {
          top: 10px;
        }
        &:nth-of-type(3) {
          bottom: 0;
        }
      }
    }
  }
  nav {
    display: none;
  }
  ul {
    li {
      width: 159px;
      a {
        text-decoration: none;
        span {
          display: block;
          text-align: center;
          color: #0c3864;
          &:nth-of-type(1) {
            font-size: 15px;
          }
          &:nth-of-type(2) {
            font-size: 16px;
            font-weight: bold;
          }
        }
      }
    }
  }
}
.mv {
  height: 67vh;
  padding-top: 77px;
  position: relative;
  &_txt {
    p {
      span {
        display: block;
      }
      &:nth-of-type(1) {
        margin-bottom: 20px;
        color: #0e3055;
        span {
          &:nth-of-type(1) {
            font-size: 18px;
          }
          &:nth-of-type(2) {
            font-size: 20px;
          }
        }
      }
      &:nth-of-type(2) {
        font-size: 20px;
      }
    }
  }
  &_trial {
    position: absolute;
    bottom: 239px;
    display: block;
    width: 150px;
    left: 0;
    figure {
      width: 120px;
    }
  }
}
section {
  h2 {
    span {
      color: #fff;
      font-size: 25px;
      line-height: 29px;
      padding-bottom: 4px;
      border-bottom: 1px solid #fff;
      font-family: "Roboto";
    }
  }
}
.concept {
  background: #0c3864;
  padding: 30px 20px;
  counter-reset: h3;
  &_think {
    > h3 {
      font-size: 18px;
      background: #fff;
      width: 100%;
      height: 38px;
      position: relative;
      line-height: 38px;
      color: #0c3864;
      border-radius: 5px;
      text-align: center;
      margin: 27px 0 34px;
      &:after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 38px;
        width: 0;
        height: 0;
        border: 0 solid transparent;
        border-left-width: 10px;
        border-right-width: 10px;
        border-top: 15px solid #fff;
      }
    }
  }
  > p {
    font-size: 15px;
    line-height: 24px;
    color: #c1b083;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
  }
  &_list {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    figure {
      width: percentage(280 / 610);
      img {
        border-radius: 50%;
      }
    }
    ul {
      li {
        font-size: 16px;
        line-height: 24px;
        color: #c1b083;
        margin-bottom: 17px;
        position: relative;
        padding-left: 20px;
        font-weight: bold;
        &:after {
          content: "✓";
          position: absolute;
          font-family: "小塚ゴシック Pr6N";
          top: 50%;
          left: 0;
          font-size: 18px;
          transform: translate(0, -50%);
          color: #c1b083;
          font-weight: bold;
        }
      }
    }
  }
  article {
    margin-bottom: 40px;
    position: relative;
    figure {
      width: 100%;
    }
    .inner_txt {
      position: relative;
      background: #c1b083;
      padding: 23px 15px;
      margin-top: -6px;
      h3 {
        font-size: 18px;
        line-height: 24px;
        color: #0c3864;
        margin-bottom: 20px;
        counter-increment: h3;
        position: relative;
        padding-left: 30px;
        &:before {
          position: absolute;
          content: "";
          border: 2px solid #0c3864;
          border-radius: 100%;
          width: 20px;
          height: 20px;
          left: 0px;
          bottom: 0;
        }
        &:after {
          content: counter(h3);
          font-size: 18px;
          font-weight: normal;
          line-height: 1;
          font-family: "Roboto";
          color: #0c3864;
          left: 7px;
          bottom: 2px;
          position: absolute;

        }
      }
      p {
        font-size: 12px;
        line-height: 20px;
        color: #0c3864;
      }
    }
    .scoreup {
      margin-top: 9px;
      span {
        font-size: 15px;
        font-weight: bold;
      }
    }
    .line_up {
      margin: 20px 0 17px;
      display: block;
    }
    &:nth-of-type(2) {
      .whitebg {
        background: #fff;
        width: 100%;
        top: 0;
        padding: 30px 0;
        > p {
          span {
            font-size: 18px;
            width: 158px;
            line-height: 23px;
            color: #0c3864;
            border-bottom : 1px solid #0c3864;
            text-align: center;
            display: block;
            margin: 0 auto;
          }
        }
        .point_muilti {
          ul {
            display: flex;
            margin-bottom: 17px;
            li {
              width: 135px;
              height: 61px;
              line-height: 61px;
              font-size: 14px;
              line-height: 20px;
              text-align: center;
              background: #0c3864;
              margin: 0 14px;
              color: #c1b083;
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;
              &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3){
                &:before {
                  content: "\00D7";
                  color: #0c3864;
                  font-size: 14px;
                  position: absolute;
                  top: 50%;
                  transform: translate(0, -50%);
                  right: -18px;
                  font-family: "Hiragino Kaku Gothic Pro";
                }
              }
              &:nth-of-type(3) {
                &:before {
                  content: "\003D";
                }
              }
              &:last-child {
                background: #c1b083;
                color: #0c3864;
              }
            }
          }
          p {
            text-align: center;
            font-size: 14px;
            line-height: 24px;
          }
        }
      }
    }
  }
}
