//
// Font Face
//------------------------------------------------------------------------

@font-face {
  font-family: 'miso';
  src: url('../font/miso-regular.otf');
  src: url('../font/miso-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/miso-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/miso-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../font/miso-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../font/miso-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 400;
  font-stretch: normal;
  unicode-range: U+0020-2215;
}
